<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./font/iconfont.css">
  <link rel="stylesheet" href="./css/index.css">
  <script src="./lib/require.js" data-main="./js/index"></script>
  <title>音乐</title>
</head>
<body>
  <header class="clearfix">
    <h1></h1>
    <ul>
      <li class="active">发现音乐</li>
      <li>我的音乐</li>
      <li>朋友</li>
      <li>商城</li>
      <li>音乐人</li>
      <li>下载客户端</li>
    </ul>
    <div class="search">
      <span>登录</span>
      <input type="text" placeholder="音乐/视频/电台">
    </div>
  </header>
  <nav>
    <ul>
      <li class="active"><span>推荐</span></li>
      <li><span>排行榜</span></li>
      <li><span>歌单</span></li>
      <li><span>主播电台</span></li>
      <li><span>歌手</span></li>
      <li><span>新碟上架</span></li>
    </ul>
  </nav>

  <!-- 页面内容区 -->
  <main>
    <iframe src="indexContent.html" name="main" seamless></iframe>      
  </main>


  <!-- 全局音频对象 -->
  <audio></audio>

  <footer>
    <div class="wrap clearfix">
      <!-- 播放控制区 -->
      <div class="controls">
        <i class="iconfont icon-previous"></i>
        <i class="iconfont icon-pause"></i>
        <i class="iconfont icon-next"></i>
      </div>
      <!-- 播放状态 -->
      <div class="play clearfix">
        <div class="cover">
          <img src="./image/default_album.jpg" alt="">
        </div>
        <div class="play-right">
          <div class="info">
            <span class="name"></span>
            <span class="artist"></span>
          </div>
          <div class="progress clearfix">
            <div class="line">
              <div class="line-done"></div>
              <span class="slider">
                <em class="circle"></em>
              </span>
            </div>
            <div class="time">02:51 / 04:23</div>
          </div>
        </div>
      </div>
      <!-- 播放列表 -->
      <div class="list">
        <div class="volume">
          <i class="iconfont icon-shengyin"></i>
          <div class="volume-wrap">
            <div class="line">
              <div class="line-done"></div>
              <span class="slider">
                <em class="circle"></em>
              </span>
            </div>
          </div>
        </div>
        <i class="iconfont icon-liebiaoxunhuan"></i>
        <div class="show-list">
          <i class="iconfont icon-erji"></i>
          <span class="num">50</span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>