<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/singer.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./font/iconfont.css">
</head>
<body>
    <div class="singer clearfix">
        <div class="singer-left">
            <div class="singer-left-section">
                <p>
                    <span  class="singer-name-ch">张惠妹</span>
                    <span class="singer-name-en">aMei</span>
                </p>
                <img src="http://p2.music.126.net/-JxOlVRUl3OFqNkCIu9dlw==/678398674363509.jpg?param=640y300">
                <p class="menu">
                    <a href="#">热门作品</a>
                    <a href="#">所有专辑</a>
                    <a href="#">相关MV</a>
                    <a href="#">艺人介绍</a>
                </p>
                <div class="btn">
                    <a class="bro">播放</a>
                    <a class="bro">+</a>
                    <a class="btn-collect">收藏热门50</a>
                    <ul>
                        <li class="btn-right active">热门单曲</li> 
                        <!-- <li class="btn-right">作词作品</li>
                        <li class="btn-right">作曲作品</li> -->
                    </ul>                   
                </div>
                <table>
                    <tbody  class="singer-list">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="singer-right">
            <p class="title">热门歌手</p>
            <div class="singer-hot clearfix">
            </div>
            <p class="title titleD">网易云音乐多端下载</p>
            <i class="iconfont icon-android"></i>
            <i class="iconfont icon-android"></i>
            <i class="iconfont icon-android"></i>
            <p class="news">同步歌单，随时畅听320k好音乐</p>
        </div>
    </div>

    <script src="./lib/require.js" data-main="./js/song"></script>
</body>
</html>