<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/song.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./font/iconfont.css">
</head>
<body>
    <div class="song">
        <div class="song-left">
            <div class="cd">
                <img src="" class="j-img">
                <a class="outchain">生成外链播放器</a>
            </div>
            <div class="container">
                <div>
                    <img src="../image/icon-cd.png">   
                    <span class="name"></span>
                </div>
                <div class="detail"> 
                    <p>歌手:<a class="artist"></a></p>
                    <p>所属专辑:<a>AMIT2</a></p>
                </div>

                <div>
                    <button class="bro">播放</button>
                    <button class="add">+</button>
                    <button>收藏</button>
                    <button>分享</button>
                    <button>下载</button>
                    <button>留言</button>
                </div>
                <div class="lyricsWrap"></div>
                <div class="lyrics"></div>
                <p><a href="#" class="fold" style="display:none">收起</a></p>
                <p><a href="#" class="unfold" >展开</a></p>
            </div>
        </div>
        <div class="song-right">
            <div class="title">包含这首歌的歌单</div>
            <div  class="singer-sheet">
                <img src="../image/sheet.png">
                <p><a href="#" class="sheet">超好听的男声翻唱哦</a></p> 
                <p><a href="#" class="singer">我鲁班不坑</a></p> 
            </div>
            <div class="singer-sheet">
                <img src="../image/sheet.png">
                <p><a href="#" class="sheet">超好听的男声翻唱哦</a></p> 
                <p><a href="#" class="singer">我鲁班不坑</a></p> 
            </div>
            <div class="singer-sheet">
                <img src="../image/sheet.png">
                <p><a href="#" class="sheet">超好听的男声翻唱哦</a></p> 
                <p><a href="#" class="singer">我鲁班不坑</a></p> 
            </div>

            <div class="title">相似歌曲</div>
            <div class="similar">
                <div class="similar-cotainer">
                    <p>那女孩对我说（完整版)</p>
                    <p>uu</p>
                </div>    
                <div class="icon-bro">
                    <i class="iconfont icon-start"></i>
                    <i class="iconfont icon-start"></i>
                </div>   
            </div>
            <!---------- similar songs ---------------->
            <div class="similar">
                <div class="similar-cotainer">
                    <p>那女孩对我说（完整版)</p>
                    <p>uu</p>
                </div>    
                <div class="icon-bro">
                    <i class="iconfont icon-start"></i>
                    <i class="iconfont icon-start"></i>
                </div>   
            </div>
            <div class="similar">
                <div class="similar-cotainer">
                    <p>那女孩对我说（完整版)</p>
                    <p>uu</p>
                </div>    
                <div class="icon-bro">
                    <i class="iconfont icon-start"></i>
                    <i class="iconfont icon-start"></i>
                </div>   
            </div>
            <div class="similar">
                <div class="similar-cotainer">
                    <p>那女孩对我说（完整版)</p>
                    <p>uu</p>
                </div>    
                <div class="icon-bro">
                    <i class="iconfont icon-start"></i>
                    <i class="iconfont icon-start"></i>
                </div>   
            </div>
            <div class="similar">
                <div class="similar-cotainer">
                    <p>那女孩对我说（完整版)</p>
                    <p>uu</p>
                </div>    
                <div class="icon-bro">
                    <i class="iconfont icon-start"></i>
                    <i class="iconfont icon-start"></i>
                </div>   
            </div>
            <!------------ /similar songs -------------->
            <div class="title">网易云音乐多端下载</div>
            <div class="download">            
                <i class="iconfont icon-android"></i>
                <i class="iconfont icon-android"></i>
                <i class="iconfont icon-android"></i>
                <p class="news">同步歌单，随时畅听320k好音乐</p>
            </div>
        </div>
    </div>

    <script src="./lib/require.js" data-main="./js/song"></script>
</body>
</html>